{:paths ["src"]
 :deps {io.github.xpojure-lang/meme-clj {:mvn/version "0.13.0"}}
 :tasks {run {:doc "Run a .meme file: bb run <file>"
              :task (do (require '[meme.alpha.runtime.cli])
                        (apply (resolve 'meme.alpha.runtime.cli/-main)
                               (cons "run" *command-line-args*)))}
         repl {:doc "Start a meme REPL"
               :task (do (require '[meme.alpha.runtime.cli])
                         ((resolve 'meme.alpha.runtime.cli/-main) "repl"))}
         convert {:doc "Convert between .meme and .clj"
                  :task (do (require '[meme.alpha.runtime.cli])
                            (apply (resolve 'meme.alpha.runtime.cli/-main)
                                   (cons "convert" *command-line-args*)))}
         format {:doc "Format .meme files"
                 :task (do (require '[meme.alpha.runtime.cli])
                           (apply (resolve 'meme.alpha.runtime.cli/-main)
                                  (cons "format" *command-line-args*)))}}}
