{:description "A meme project — M-expression syntax for Clojure"
 :transform
 [["root" ""
   {"deps.edn" "deps.edn"
    ".gitignore" ".gitignore"
    "README.md" "README.md"}
   :only]
  ["src" "src/{{top/file}}/{{main/file}}"
   {"core.meme" "core.meme"}
   :only]
  ["test" "test/{{top/file}}/{{main/file}}"
   {"core_test.meme" "core_test.meme"}
   :only]]}
